/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';  // Light theme example

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: rgb(4, 4, 41); 
}

//todo color variables

mat-mdc-card {
    background-color: white; 
}

.mat-mdc-radio-button.mat-mdc-radio-checked .mat-ripple-element {
    background-color: rgb(4, 4, 41) !important;
}

.mat-mdc-radio-button.mat-mdc-radio-checked .mdc-radio__background::before {
    background-color: rgb(4, 4, 41) !important;
}

.mat-mdc-radio-button
    .mdc-radio
    .mdc-radio__native-control:enabled:checked
    + .mdc-radio__background
    .mdc-radio__outer-circle {
    border-color: rgb(4, 4, 41) !important;
}

.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled + .mdc-radio__background .mdc-radio__inner-circle {
    border-color: rgb(4, 4, 41) !important;
}

.mdc-label {
    color: #000 !important;
}
